# Fichiers système
.DS_Store
Thumbs.db

# Dossiers et fichiers de dépendances
/node_modules
/vendor

# Fichiers de build
/dist
/build

# Fichiers de configuration d'environnement
.env
.env.local
.env.*.local

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'éditeur
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers de cache
.cache
.sass-cache

# Fichiers temporaires
*.tmp
*.swp
*.swo

# Fichiers de sauvegarde
*.bak
*.backup

# Fichiers compilés
*.com
*.class
*.dll
*.exe
*.o
*.so

# Fichiers de package
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Fichiers spécifiques au projet (à adapter selon vos besoins)
# /chemin/vers/fichier/spécifique
